.search-company {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
}

.company-table th,
.company-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.company-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
@media screen and (max-width: 600px) {
  .search-company,
  .company-table {
    width: 100%;
  }
}
